*
{
    margin: 0;
    padding: 0;
}
header
{

    background-image: url("wind3.jpg");
    background-size: cover;
    height: 500px;
    background-position: center;
}
.NavBar
{
    float: right;
    list-style:none;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 40px;
}
.NavBar li
{
    display: inline-block;
}
.NavBar li a
{
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
    font-size: 23px;
    transition: 0.6s ease;
    width: 120px;
    padding: 15px;
    margin-right: 4px;
    float: right;
}
.NavBar li a:hover
{
    background-color: #29d927;
    border: 2px;
}
.logo
{
    width: 150px ;
    height: 120px;
    float: left;
}
body
{
    font-family: monospace;
}
.row
{
    max-width: 95%;
    margin: auto;
}
.MainText
{
    position: absolute;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
}
h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 295px;
}
.SubTech
{
    display: none;
}

.NavBar li a:hover .SubTech
{
    display: block;
    position: absolute;
}