.Main_Page
{
    display: grid;
    
}
h1{
    margin-top: 5em;
    text-align: center;
    
}


p{
    font-style: italic;
    text-align: center;
}


.mainContent{
    background-color: white;
    margin-left:3%;
    margin-right: 3%;
    margin-top: 5%;
    margin-bottom: -10%;
    display: grid; 
    grid-template-columns: 20% auto;
    grid-template-rows:30% 70% 30%;
    grid-template-areas:
    "mainContenTitle mainContentTitle"
    "imgContainer mainText" ;
}

.mainContentTitle{
    grid-area: mainContentTitle;
    margin-top: 1%;
    text-align: center;
    margin-right: 25%;
    text-decoration: underline;
}

.mainText{
    grid-area: mainText;
    text-align: right;
    text-align: justify;
    margin-left: 5%;
    padding-right: 2%;
    font-size: 130%;
}

.bottomContent{
    
    display: grid; 
    grid-template-columns: auto auto auto;
    grid-template-rows:30% 70%;
    grid-template-areas:
    "card card card"
    "registerCard popularPostCard newsCard" ;

    background-color: white;
    margin-left:3%;
    margin-right: 3%;
    margin-top: 5%;

}


.card {
    grid-area:card;
    background-color: #aaa;
    padding: 20px;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
}

.registerCard {
    grid-area:registerCard;
    background-color: #aaa;
    padding: 20px;
    padding-right: 20%;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 10%;
}

.popularPostCard{
    grid-area:popularPostCard;
    background-color: #aaa;
    padding: 20px;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
}

.newsCard{
    grid-area:newsCard;
    background-color: #aaa;
    padding: 20px;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
}

/*from here we change the color of the spaces left in row*/
.row{
    padding-top: 5em;
    padding-bottom: 5em;
    font-size: large;
}

.imageTitle{
    background-image: url('image/energy-1989341_1920-compressor.jpg');
    background-position: center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 100%;
    
}

.mainSection{
    background-color: #f1f1f1;

}
.img1Container{
    grid-area: imgContainer;
    width: 100%;
    height:250px;
    margin-left: 10%;
    margin-bottom: 70% ;
    border: 2px solid black;
    
    background-image: url('image/solar-cell-4045029_1920.jpg');
    background-size: cover;
}

.border{
    margin-top: 10%;
    background-color: white;
    border: hidden;
    border-bottom: 1px solid black;
 
   
    margin-left: 10%;
    margin-right: 10%;
}

/*Others Images*/
.other_img{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Register image */
.img3 {
    background-color: #aaa;
    width: 70%;
    height: 70%;

    padding: 20px;
    background-image: url("image/registerLogo.jpg");
    background-size: 100% 150%;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 10%;
    
}
/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 53px;
}
/*style of a href hyperlink*/
.hyperlink
{
    display: flex;
    justify-content: center;
    color: #555555;
}

/* Add a card effect for articles */


/* Clear floats after the columns - maybe not needed */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*This is for smoother scrolling up*/
html {
    scroll-behavior: smooth;
}
/*Scroll to the top button configuration*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: forestgreen; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
/*Button Color when focus*/
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}