/*Banner image*/
.techImg0{
    background-color: #aaa;
    width: 100%;
    padding: 1.3em;
    background-image: url("images/energy-1989341_1920-compressor.jpg");
    background-size: 100% 100%;
    height: 300px;
}
.sampleImage{
    background-color: #aaa;
    background-image: url("images/light-bulb-1246043_1920.jpg");
    width: 100%;
    padding: 1.3em;
    background-size: 100% 100%;
    height: 200px;
}

.solarPanelsImage{
    background-color: #aaa;
    background-image: url("images/photovoltaic-2138992_1920.jpg");
    width: 100%;
    padding: 1.3em;
    background-size: 100% 100%;
    height: 200px;
}

.windTurbinesImage{
    background-color: #aaa;
    background-image: url("images/wind-turbine-2218460_1920.jpg");
    width: 100%;
    padding: 1.3em;
    background-size: 100% 100%;
    height: 200px;
}

.hydroelectricDamsImage{
    background-color: #aaa;
    background-image: url("images/hydro.jpg");
    width: 100%;
    padding: 1.3em;
    background-size: 100% 100%;
    height: 200px;
}

.nuclearPlantsImage{
    background-color: #aaa;
    background-image: url("images/industry-2663189_1920.jpg");
    width: 100%;
    padding: 1.3em;
    background-size: 100% 100%;
    height: 200px;
}


/*create a card*/
.techCard{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 10px;

    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
/*configure the title of the card*/
.techTitle{
    grid-row: 1;
    grid-column: 1/4;
}
/*configure the bottom row of the page*/
#bottomRow{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

@media screen and (max-width: 990px) {
    #bottomRow{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        column-gap: 20px;
    }
    #newsCard_tech{
        margin-top: 0;
        grid-row: 2;
        grid-column: 1/3;
    }

}