.Main_Page{
    display: grid;
    background: #f1f1f1;
}
/* Login Box size and other settings */
.LoginBox{
    margin-top: 8em;
    width: 45%;
    height: 500px;
    background: darkslategray;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    display: grid;
}
/* Settings about the logo register_images in login page*/
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -2em;
    display: flex;
    justify-self: center;
    background-image: url("register_images/avatar.png");
    background-size: 100% 95%;
}
/* "Login Now" header */
h2{
    font-family: Tahoma;
    text-align: center;
    font-size: 22px;
    font-style: italic;
}
/* Login paragraphs style. Ex: Username, Password etc */
.LoginBox p{
    font-weight: bold;
    margin-left: 4em;
}
/* Removes forced red color of incorrect box at input fields for other browsers  */
input {
    box-shadow:none;
}
/* Removes forced red color of incorrect box at input fields for mozilla  */
input:-moz-placeholder {
    box-shadow:none !important;
}
/* General settings for all kind of inputs*/
.LoginBox input{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 20px;
    display: grid;
}
/* Special settings about style of every input with type "text" or "password"*/
.LoginBox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
/* Special settings about style of input type"submit" which works like a submit button*/
.LoginBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #0d2e2a;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
/* Submits' input hover when we touch it with the mouse */
.LoginBox input[type="submit"]:hover
{
    cursor: pointer;
    background: darkgray;
    color: #000;
}
/* Style of a. ex: Lost your password? ..etc*/
.LoginBox a{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: darkgrey;
    margin-left: 2em;
}
.LoginBox a:hover
{
    color: black;
}

/*some space between log in block and footer*/
#divSpace{
    height: 40vh;
}
@media screen and (max-width: 1100px) {
    .LoginBox{
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        font-size: 35px;
    }
}
@media screen and (max-width: 700px) {
    h1{
        margin-top: 4em;
        font-size: 25px;
    }
    .LoginBox{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}