#chemicalPage{
    display: grid;
    background: #f1f1f1;
}
/*Banner image*/
.chemicalImg0 {
    background-color: #aaa;
    width: 100%;
    padding: 1.3em;
    background-image: url("../mainPage/images/fuel.jpg");
    background-size: 100% 100%;
    height: 400px;
}