.Main_Page{
    display: grid;
    background: #f1f1f1;
}

h1{
    margin-top: 4em;
    text-align: center;
}

p{
    font-style: italic;
    text-align: center;
}
/*from here we change the color of the spaces left in row*/
.row{
    background-color: #f1f1f1;
    width: 78%;
    margin-right: auto;
    margin-left: auto;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftColumn {
    float: left;
    width: 75%;
}
/* Right column */
.rightColumn {
    float: left;
    width: 25%;
    padding-left: 1.3em;
}
/*style of title links*/
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color: darkslategray;
    transition: .3s;
}
/*style of a read more hyperlink*/
.hyperlink {
    display: flex;
    justify-content: center;
    color: #555555;
    font-weight: bold;
}

/*Banner image
text-shadow: 0 -1px 4px #FFFFFF, 0 -2px 10px #FFFFFF, 0 -10px 20px #FFFFFF, 0 -18px 40px #FFFFFF;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    #294018
    text-decoration: rgb(68, 68, 68);
*/
.img0 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-top: 2em;
    padding: 1.3em;
    height: 200px;
    color: #f1f1f1;
    background: darkslategray;
}
/* Geo image */
.img1 {
    background-color: #aaa;
    width: 100%;
    padding: 1.3em;
    background-image: url("images/geo.jpg");
    background-size: 150% 150%;
    height: 300px;
}
/* Solar image */
.img2 {
    background-color: #aaa;
    width: 100%;
    padding: 1.3em;
    background-image: url("images/solar.jpg");
    background-size: 100% 100%;
    height: 300px;
}
/* Wind image */
.img4 {
    background-color: #aaa;
    width: 100%;
    padding: 1.3em;
    background-image: url("images/wind.jpg");
    background-size: 100% 100%;
    height: 300px;
}
/* Water image */
.img5 {
    background-color: #aaa;
    width: 100%;
    padding: 1.3em;
    background-image: url("images/hydro.jpg");
    background-size: 100% 100%;
    height: 300px;
}
/* Nuclear image */
.img6{
    background-color: #aaa;
    width: 100%;
    padding: 1.3em;
    background-image: url("images/nuclear.jpg");
    background-size: 100% 100%;
    height: 300px;
}
/* BioEnergy image */
.img7{
    background-color: #aaa;
    width: 100%;
    padding: 1.3em;
    background-image: url("images/bioenergy.jpg");
    background-size: 100% 100%;
    height: 300px;
}
/* Chemical image */
.img8{
    background-color: #aaa;
    width: 100%;
    padding: 1.3em;
    background-image: url("images/fuel.jpg");
    background-size: 100% 100%;
    height: 300px;
}
/* Register image */
.img3 {
    background-color: #aaa;
    width: 100%;
    padding: 1.3em;
    background-image: url("images/registerLogo.jpg");
    background-size: 100% 150%;
    height: 100px;
    cursor: pointer;
}
.img3:hover{
    border:4px solid rgba(47,79,79,0.7);
    transition: 0.3s;
}
/*Others Images*/
.other_img{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*configure the topic of the page*/
#topicCard{
    background: white;
    border-bottom: 0.2em solid rgba(47,79,79,0.7);
    border-top: 0.2em solid rgba(47,79,79,0.7);
    color: darkslategray;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
/* Clear floats after the columns - maybe not needed */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*This is for smoother scrolling up*/
html {
    scroll-behavior: smooth;
}
/*Scroll to the top button configuration*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 1.3em; /* Place the button at the bottom of the page */
    right: 2em; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: darkslategray; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0.9em; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
/*Button Color when focus*/
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* Responsive layout*/
@media screen and (max-width: 1500px) {
    .row{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1100px) {
    .row{
        width:95%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 990px) {
    .row{
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .leftColumn, .rightColumn {
        width: 100%;
        padding: 0;
    }
    .rightColumn{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 20px;
    }
    .img1,.img2,.img4,.img5,.img6,.img7,.img8{
        height: 280px;
    }

    #joinCard{
        width: 100%;
        order: 1;
    }
    #postCard{
        width: 100%;
        order: 2;
    }
    #newsCard{
        width: 100%;
        order:3;
        grid-row: 2;
        grid-column: 1/3;
    }
}
@media screen and (max-width: 800px){
    .img0{
        padding: 0.75em;
        height: 200px;
    }
}

