:root{
    --nav-links-height:4em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, serif;
}

h1 {
    font-size: 72px;
}
section {
    background: #f2f4f3;
    font-size: 20px;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    display:grid;
    grid-template-columns: auto auto;
    height:4em;
    font-size: 20px;
    position:fixed;
    width:100%;
    background: white;
    justify-content:space-between;
}

/*configuration of logo container*/
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #95999c;
    width: 15em;
}

/*configuration of nav container*/
#main-nav {
    display: flex;
}
/*configuration of unordered list*/
#main-nav ul {
    list-style: none;
    display: flex;
}

/*Configuration of nav-item's list*/
.nav-item{
    width: 8em;
    position: relative;
}

.nav-item:hover .submenu > li {
    display: block;
}

/*configuration of nav-links' containers*/
.nav-item a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
}
.sub-nav-item a {
    color: purple;
    font-size: 16px;
    font-weight: normal;
    height: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
}
.nav-item a:hover {
    background: darkslategray;
    color: white;
    transition: 0.3s;
}
.sub-nav-item a:hover {
    background: darkgrey;
    color: white;
    transition: 0.3s;
}





/*Configuration of sub menu container*/
.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background:white;
}


/*Sub menu list*/
.sub-nav-item {
    display: none;
    position: relative;
    width: 100%;
}




/*button configuration*/
.checkbtn {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 100%;

    background: #95999c;
    width: 4em;
    color: darkslategray;
    cursor: pointer;
}
#check{
    display: none;
}
.checkbtn:hover  {
    background:green;
}






@media screen and (max-width: 1100px){
    header{
        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows: 100% auto;
        font-size: 20px;
        background: white;
        justify-content:space-between;
    }

    .checkbtn{
        display: flex;
        padding: 1em 0;
    }



    nav{


    }
    .logo-container {

    }

    #main-ul{
        flex-direction: column;
    }

    /*Configuration of nav-item's list*/
    .nav-item{
        width: 20em;
        position: relative;
        background: grey;
        border-bottom: 0.1em solid black;
    }

    .nav-item:hover .submenu > li {
        display: block;
    }

    /*configuration of nav-links' containers*/
    .nav-item a {
        color: black;
        font-size: 20px;
        font-weight: bold;
        height: 3em;

        display: flex;
        align-items: center;
        justify-content: left;
        padding-left:1em;
        text-decoration: none;
        transition: background 0.4s;
    }
    .sub-nav-item a {
        color: purple;
        font-size: 16px;
        font-weight: normal;
        height: 2em;

        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: background 0.4s;
    }
    .nav-item a:hover {
        background: darkslategray;
        color: white;
        transition: 0.3s;
    }
    .sub-nav-item a:hover {
        background: darkgrey;
        color: white;
        transition: 0.3s;
    }





    /*Configuration of sub menu container*/
    .submenu {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        background:white;
    }


    /*Sub menu list*/
    .sub-nav-item {
        display: none;
        position: relative;
        width: 100%;
        border-bottom: 0.1em solid black;
    }





}

