body > {
    font-family: Arial, serif;
    z-index: 1;

}

header{
    z-index: 2;

}



#jumboTop {
    padding-top: 150px ;
    padding-bottom: 0px;
    background-color: darkslategray;
    color: white;
    font-family: Arial, serif;

}


#forumThreads .btn-primary{
    background-color: darkslategray;
}
#forumThreads{
    font-family: Arial, serif;
    z-index: -1;
}

.thread {

    transition: transform .2s;

}

.thread:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    z-index: 3;
}