* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, serif;
}

/*some default settings to avoid bootstrap's problems*/
#main-nav  #main-ul .nav-item .main-link-a , .sub-link-a{
    text-decoration: none;
}
#main-nav  #main-ul .nav-item .submenu .sub-link-a{
    text-decoration: none;
}
#main-ul{
    margin-bottom: 0;
}

/* Top bar container*/
header{
    display:grid;
    grid-template-columns: 1fr auto 4em;
    grid-template-rows: 4em ;
    font-size: 20px;
    position:fixed;
    width:100%;
    background: white;
    box-shadow: 0 4px 10px #888888;
}

/*Logo*/
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:15em;
    background-image: url("../mainPage/images/logoCleanEnergyWhiteNoBorder.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
/*nav bar*/
#main-nav {
    display: flex;
    background:white;
}
/*nav bar ul*/
#main-nav ul {
    list-style: none;
    display: flex;

}

/*nav bar ul-> li*/
.nav-item{
    position: relative;
    width: 6em;
}

.nav-item:hover .submenu > li {
    display: block;
}
/*user icon*/
#user-icon{
    font-size: 30px;
}

/*nav bar ul-> li -> a*/
.nav-item a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    padding:0 .5em;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
}
.nav-item a:hover {
    background: darkslategray;
    color: white;
    transition: 0.4s;
}

/*submenu ul*/
.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background:white;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}


/*submenu ul -> li*/
.sub-nav-item {
    display: none;
    position: relative;
    width: 100%;
}

/*submenu ul -> li -> a*/
.sub-nav-item a {
    color: black;
    font-size: 16px;
    font-weight: normal;
    height: 3em;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
}
.sub-nav-item a:hover {
    opacity:0.8;
    background: darkslategray;
    color: white;
    transition: 0.4s;
}



/*Menu Toggle*/
.checkbtn {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 100%;

    background: white;

    color: darkslategray;
    cursor: pointer;
}
#check{
    display: none;
}
.checkbtn:hover  {
    opacity:0.8;
    background:lightgrey;
    transition: .4s;
}

.checkbtnClose{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 100%;

    background: white;

    color: darkslategray;
    cursor: pointer;
}
.checkbtnClose:hover  {
    opacity:0.8;
    background:lightgrey;
    transition: .4s;
}

/*search button*/
.search-container{
    display: flex;
    position: relative;
    order: 1;
}
#button-label{
    color: darkslategray;
    font-size: 25px;
    height: 100%;
    width: 3.3em;

    display: flex;
    align-items: center;
    justify-content: center;
}

#button-label:hover {
    opacity:0.8;
    background:lightgrey;
    transition: .4s;
}

/*search text input*/
.text-container {
    grid-row: 2;
    grid-column: 1/4;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(242,242,242,1);
}
#search-label{
    display: none;
    position: relative;
    height: 2.6em;
    padding: 0.4em 0.4em;
    width: 60vw;
    justify-content: center;
}
#txtInput{
    font-size: 16px;
    color: black;
    padding-left: 0.7em;
    height: 100%;
    width: 100%;

    border: 3px solid darkslategray;
    border-radius: 12px;
    text-decoration: none;
}


/*arrow indicator for side menu bar links*/
.arrow {
    display: none;
}



/*Mobile Mode*/
@media screen and (max-width: 1120px){
    header{
        display:grid;
        grid-template-columns: 4em 1fr 4em;
        grid-template-rows: 4em;
    }
    /*Menu Toggle*/
    .checkbtn{
        display: flex;
        grid-column: 1/2;
    }
    #menu-toggle{
        display: flex;
    }
    #main-nav{
        display: none;
    }
    /*Logo*/
    .logo-container{
        display: flex;
        margin-right:auto;
        margin-left:auto;
        width: 15em;
        grid-column: 2/3;
    }


    .search-container{
        grid-column: 3/4;
    }
    /*Search text input*/
    .text-container{
        z-index: 99;
    }
    #search-label{
        width: 70vw;
    }


}
@media screen and (max-width: 700px){
    .logo-container{
        width: 15em;
    }
    #search-label{
        width: 95vw;
    }
}