body{
    font-family: sans-serif;
}
/* Add a white background color to the top navigation bar */
.mainMenu{
    background:   #e3ffc5 ;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

}
/* Style the links inside the navigation bar */
.mainMenu a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.6s ease;
}
/* Change the color of links on hover */
.mainMenu a:hover{
    background-color:  #6abe11 ;
    color: black;
}
/* Style the "active" element to highlight the current page */
.mainMenu a.active{
    background-color: #4CAF50;
    color: white;
    margin-right: 1%;
}
/* menu2 for separating 'log in' and 'search' from others pages */
.mainMenu .menu2 a
{
    margin-left: 10%;
}
/* Style the search field */
form.example input[type=text] {
    margin-left: 1%;
    padding: 5px;
    font-size: 17px;
    margin-top: 1%;
    border: 1px solid grey;
    float: left;
    width: 10%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 3%;
    margin-top: 1%;
    padding: 5px;
    background:  #2bb22a ;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

#mainHeader {
    border: 2px solid white;
    background: url("banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 540px;
}
.title {
    text-align: center;
    color: rgba(76,175,80,9);
    font-size: 80px;
    margin-top: 15%;
}
#contentHeader{
    font-size: 40px;
    background-color: rgb(76,175,80);
    text-align: left;
    color: white;

}
#energyResourcesTable{
    width: 100%

}
#energyResourcesTable td{
    border: 2px solid white;
    font-size: 20px;
    text-align: center;
    height: 300px;
}

#energyResourcesTable h3{
    color: white;
    font-size: 30px;
}

#energyResourcesTable p,a{
    /*background-color: rgba(76,175,80,0.5);*/
    color: white;
    text-decoration: underline;

}
#col1x1{
    background-image: url("solar2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
#col1x2{
    background-image: url("wind3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#col2x1{
    background-image: url("hydro1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
#col2x2{
    background-image: url("geo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
#col3x1{
    background-image: url("nuc1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
#col3x2{
    background-image: url("fuel1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}